@charset "UTF-8";
/* CSS Document */

  body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    padding: 0;
  }

  h1 {
    font-style: bold;
    color: black;
    font-size:70px;
    font-family: Arial;  
  }

 .sticky-section{
    overflow:hidden;
    background-color:lightblue; 
    margin-bottom:50px;
    width:100%; 
    color:white; 
  }

  nav a{
    float:right;
    text-decoration:none;
    color:white;
    font-size:18px; 
    padding: 20px 30px; 
    display:inline-block; 
    transition: all 0.5s ease 0s;
    font-family: 'Rubik', sans-serif;
  }

  nav a:hover{
    background-color:beige; 
    color:black; 
  }

  .sticky-section{
    position:sticky;
    position:-webkit-sticky;
    top:0px;
  }