h2 {
    font-style: bold;
    color: black;
    font-size:50px;
    font-family: Arial;
    margin-left: 45px;
  }
h3 {
    font-style: bold;
    color: black;
    font-size:20px;
    font-family: Arial;
    margin: center;
  }